*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}


html{
    font-size: 16px;

}

.signup {
    display: grid;
    max-width: 1440px;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    font-size: 20px;   
}

.signup_left_section {
    background: #3643AA;
    padding-left: 6.9%;
    padding-top: 88px;
    padding-bottom: 182px;
}

.signup_left_section p {
    max-width: 521px;
    color: white;
    margin-top: 36px;
    margin-bottom: 100px;
}

.signup_right_section {
    padding-top: 128px;
    padding-bottom: 4.875rem;
}

.signup_right_section h2, .signup_right_section h1 {
    color: #5d5d5d;
}

.signup_right_section h1 {
    font-size: 2.5rem;
    margin-top: 6px;
    margin-bottom: 1rem;

}

.signup_right_section h2 {
    font-weight: 700;


}


.signup_right_content {
    max-width: 524px;
    margin: auto;
}

.signup_right_content form{
   display: flex;
   flex-direction: column;
   gap: 24px;
   margin-top: 36px;
   margin-bottom: 22px;
}

.signup_right_content form input{
    padding: 10px 80px 10px 48px;
    border: 2px solid #5d5d5d;
    border-radius: 4px;
    width: 100%;
}

.signup_right_content form button {
    background: #50bff2;
    border-radius: 4px;
    color: white;
    padding: 20px ;
    font-size: 20px;
    border: none;
    outline: none;
    margin-top: 16px;

}

.signup_right_content form button a {
    text-decoration: none;
    color: white;
}

.signup_right_content .form_control {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.signup_right_content .form_control {
    color:#5d5d5d;
}

.terms {
    color: #5d5d5d;
    padding: 10px;

}

.terms a, .login_link a {
    color:#50bff2;
}

.input_div {
    position: relative;
}

.icon_div {
    position: absolute;
    right: 40px;
    top: 20%;
    translate: (50%, -50%);
}

/* login styles */

.signup_left_section h1{
    font-weight: 700;
    font-size: 60px;
    line-height: 102px;
    color: white;
    margin-top: 36px;
    margin-bottom: 100px;

}

.login_right_content h2 {
    font-size: 30px;
    margin-bottom: 64px;
    font-weight: 700;

}

.forgot_password_container {
    display: flex;
    justify-content: space-between;

}

.remember_div {
 display: flex;
 gap: 8px;
}

.forgot_password_container a {
    color:#50bff2;
}

.center_align {
    text-align: center;
}

.divider_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.divider {
    width: 196px;
    height: 0px;
    border: 1px solid gray;
}


.google_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid #50bff2;
    border-radius: 4px;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
    background: white;
    margin-bottom: 2rem;

}

#google_login_text {
    color: #3643AA;
    font-weight: 700;
    font-size: 20px;
}
